@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <br/>
    <h2 class="text-center">Welcome to the Bizerba Data Mainteance WebApp.</h2>
    <br/>
    <h2 class="text-center">Please login to continue.</h2>
    <br/>
    <p>This web application was designed specifically for our customer.</p>
</div>