<div class="navbar-nav">
    <a class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
</div>
<a class="btn btn-success ml-auto" asp-controller="Account" asp-action="Login">Login</a>